<div class="row-grid">
    <div class="item" *ngFor="let item of listaProductos" 
    style="background-color: rgba(255,255,255 ,0.2); border-radius: 7px; box-shadow: 5px 5px 5px rgba(148, 175, 194  );">
        <div class="item-grid" >
           
            <div>
                <h5 class="text-center mt-2">
                    Producto: {{ item.nombreProducto}}
                </h5>
            </div>
            <div class="item-1" style="padding: 20px; ">
                <p class="mb-1 text-center">
                    <strong>
                        Tipo de pieza: {{ item.tamanoProducto.tipoPieza }}
                    </strong>
                </p>
                <p class="mb-1 text-center">
                    <strong>
                        Precio: {{ item.tamanoProducto.precioPieza }}
                    </strong>
                </p>


            </div>
            <div class="item-2">
                <div class="button-grid">
                    <button class="btn btn-default" (click)="agregarProducto(valueProducto.value, item);">
                        <span>
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                    <button class="btn btn-default" (click)="disminuirProducto(valueProducto.value, item);">
                        <span>
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                    <button class="btn btn-default" (click)="editarProducto(valueProducto.value, item);">
                        <span>
                            <i class="fas fa-edit"></i>
                        </span>
                    </button>
                    <div>
                        <input type="text" class="form-control" #valueProducto value="1" placeholder="Ingrese cantidad">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../../../assets/image/android.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/image/vpn.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/image/dell.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>