<div class="row">
    <div class="col-8">
  
        <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
      <table  class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
        <thead>
          <tr>
            <th>Nombre del corte</th>
            <th>Precio</th>
            <th>Accion</th>
          </tr>
        </thead>



            <tbody *ngIf="listaCortes !== null ">
          <tr *ngFor="let item of listaCortes ">
            <td>{{ item.tipoCorte.nombreCorte }}</td>
            <td>{{ item.tipoCorte.precioTipoCorte }} </td>
            <td>{{ item.tipoCorte.precioTipoCorte }} </td>
            
             <td>
               
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="row">
    <div class="col-4" *ngFor="let item of listaCortes" >
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="text-center">
                        {{ item.tipoCorte.nombreCorte}}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        {{ item.tipoCorte.precioTipoCorte}}
                      </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success">add</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="text-center">
     <h3>
      Corte {{ listaOtros.tipoCorte.nombreCorte}} Precio {{ listaOtros.tipoCorte.precioTipoCorte | currency }}
     </h3>
    </div>
  </div>
</div>

<div class="row" *ngIf="listaOtros!" >
  <div class="col-4" *ngFor="let item of listaOtros.imagenes" >
      <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <img [src]="item.base64Imagen" alt="" class="img-fluid">
                    </div>
                  </div>
              </div>
              <div class="card-footer">
                  <button class="btn btn-success">add</button>
              </div>
      </div>
  </div>
</div>

